.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--bg1);
    overflow-y: hidden;
}

.main__container {
    display: flex;
    flex-grow: 1;
}
