@import "../../styles/@variables";
@import "../../styles/@mixins";

.board {
    display: flex;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-color: var(--line);
    position: relative;
    overflow-y: hidden;
    flex-grow: 1;
}

.board_type_with-columns {
    margin: 0;
    overflow: hidden;
}

.board__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    min-width: 100%;
}

.board__container_type_with-columns {
    flex-direction: row;
    column-gap: 24px;
    min-width: 100%;
    min-height: 100%;
    padding: 24px 24px 0 24px;
    align-self: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: auto;
}

.board__container_type_with-columns::-webkit-scrollbar {
    display: none;
}

.board__title {
    color: $medium-grey
}

.board__new-column {
    background-color: $main-purple;
    border: none;
    color: $white;
    width: 100%;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    transition: $transition-duration;
}

.board__new-column:hover {
    background-color: $main-purple-hover;
} 


.board__last-column {
    margin-top: 40px;
    min-width: 280px;
    background: var(--last-column);
    border-radius: 6px;
    height: 70vh;
    display: flex;
    align-items: center;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.board__add-column {
    background-color: transparent;
    border: none;
    margin: auto;
    color: $medium-grey;
    @include heading-xl;
}

.board__add-column:hover {
    cursor: pointer;

}