@import "../../styles/@variables";
@import "../../styles/@mixins";

.board {
    display: flex;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-color: var(--line);
}

.board_type_with-columns {
    margin: 0;
}

.board__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    margin-bottom: 96px;
}

.board__container_type_with-columns {
    flex-direction: row;
    column-gap: 24px;
    width: 100%;
    padding: 24px 0 0 24px;
    align-self: flex-start;
    align-items: flex-start;
}

.board__title {
    color: $medium-grey
}

.board__new-column {
    background-color: $main-purple;
    border: none;
    color: $white;
    width: 100%;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    height: 40px;
    transition: $transition-duration;
}

.board__new-column:hover {
    background-color: $main-purple-hover;
} 
