@import "../../styles/@variables";
@import "../../styles/@mixins";

.column {
    width: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.column__header {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.column__header-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(73, 196, 229, 1);
}

.column__header-title {
    color: $medium-grey;
    @include heading-s;
    letter-spacing: 2.4px;
}

.column__tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}