.swiper {
  position: relative;

  &:before {
    content: '';
    position: relative;
    width: 34px;
    height: 14px;
    display: block;
    background-color: #e7ebed;
    border-radius: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(0, -3px);
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    background-color: red;
    transition: 0.2s all;
  }

  &:focus {
    outline: none;
  }
    
  &:checked {
    &:before {
      background-color: #80c8f4;
    }

    &:after {
      left: 100%;
      transform: translate(calc(2px - 100%), -2px);
      background-color: blue;
    }
  }
}
