@import "@mixins";
@import "@variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  color: $black;
}

:root {
  --bg1: #F4F7FD; //#20212C
  --bg2: #828FA3; //#2B2C37
  --typography: #000112; //#FFF
  --line: #3E3F4E; //#E4EBFA
  --check: #FFF; //#2B2C37
}