@import "@mixins";
@import "@variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: $black;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --bg1: #20212C;
  --bg2: #2B2C37;
  --typography: #FFF;
  --typography2: #FFF;
  --line: #E4EBFA;
  --frame: #2B2C37;
  --option: #20212C;
}

