//buttons
$main-purple: #635FC7;
$main-purple-hover: #A8A4FF;

$red: #EA5555;
$red-hover: #FF9898;

//bg
$light-grey: #F4F7FD;
$white: #FFF;

$very-dark-grey: #20212C;
$dark-grey: #2B2C37;

//typography
$black: #000112;
$medium-grey: #828FA3;

//lines
$lines-dark: #3E3F4E;
$lines-light: #E4EBFA;