//buttons
$main-purple: #635fc7;
$main-purple-hover: #a8a4ff;

$main-purple-light: rgba(99, 95, 199, 0.1);
$main-purple-light-hover: rgba(99, 95, 199, 0.25);

$red: #ea5555;
$red-hover: #ff9898;

//bg
$light-grey: #f4f7fd;
$white: #fff;

$very-dark-grey: #20212c;
$dark-grey: #2b2c37;

//typography
$black: #000112;
$medium-grey: #828fa3;

//lines
$lines-dark: #3e3f4e;
$lines-light: #e4ebfa;

//all
$box-shadow: 0 10px 20px rgba(54, 78, 126, 0.25);
$transition-duration: .4s




