body {
  background-color: blue;
  color: antiquewhite;
  transform: translateY(20px);
  transition: transform 1s;

  a {
    color: white;
    margin-right: 20px;
  }
}


.div {
  background-color: mediumvioletred;
}