@import "../../styles/@variables";
@import "../../styles/@mixins";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--frame);
}

.header__logo {
  min-width: 300px;
  border-right: 1px solid;
  border-color: var(--line);
  padding-top: 33px;
  padding-bottom: 37px;
  text-align: center;
}

.header__title {
  margin: 0;
  margin-left: 34px;
  color: var(--typography)
}

.header__main {
  padding-bottom: 37px;
  padding-top: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-color: var(--line);
}

.header__desk {
  display: flex;
  flex-direction: row;
}

.header__desk-title {
  margin-left: 24px;
  color: var(--typography);
  padding-right: 12px;
}

.header__buttons {
  margin-right: 32px;
  align-items: center;
  display: flex;

  .edit-menu__frame {
    right: 85px;
  }
}

.header__new-task {
  background-color: $main-purple;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
  height: 40px;
  max-width: 164px;
}

.header__board-settings {
  margin-left: 24px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .header__desk-title {
    @include heading-l
  }
}

@media screen and (max-width: 696px) {
  .header__main {
    padding: 20px 0 20px 0;
  }

  .header__new-task {
    max-width: 48px;
  }

  .header__logo {
    display: none;
    border: none;
  }

}

@media screen and (max-width: 500px) {
  .header__desk-title {
    @include heading-l
  }
}