@import "../../styles/@variables";
@import "../../styles/@mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  border-right: 1px solid;
  border-color: var(--line);;
  align-items: center;
  background: var(--frame);
  &.hidden {
    display: none;
  }
}

.sidebar__container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 34px 47px;
  box-sizing: border-box;
}

.hidden-sidebar {
  display: none;

&.open-sideBar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 32px;
  height: 48px;
  width: 56px;
  background-color: $main-purple;
  border: none;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}
}

.open-sideBar-img {
  padding-right: 7px;
}