@import "../../styles/@variables";
@import "../../styles/@mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-right: 1px solid;
  background: var(--frame);
  border-color: var(--line);
  align-items: center;
  &.hidden {
    display: none;
  }
}

.sidebar__container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 34px 47px;
  box-sizing: border-box;

}

@media screen and (max-width: 696px) {
  .sidebar {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }

  .sidebar__container {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    z-index: 3;
    background: var(--frame);
    border-radius: 8px;
    height: 40vh;
  }

}