@import "@styles/@variables.scss";
@import "@styles/@mixins.scss";

.input {
  display: block;
  padding: 8px 16px 8px;
  background-color: var(--bg2);
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  width: 100%;

  &__field {
    all: unset;
    border: none;
    font-weight: 500;
    //@include heading-l;
    font-size: 13px;
    line-height: 23px;
    color: var(--black);
    cursor: text;
    width: 100%;
    background-color: var(--bg2);

    &::placeholder {
      color: #000112;
      opacity: 0.25;
    }
  }

  &.error {
    position: relative;
    border: 1px solid $red;
    background-color: var(--bg2);

    &::after {
      content: "Can't be empty";
      background-color: var(--bg2);
      position: absolute;
      right: 16px;
      font-weight: 500;
      font-size: 13px;
      line-height: 23px;
      text-align: right;
      color: $red;
    }
  }
}



