.edit-task {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
    color: var(--typography);
  }

  &__body {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #828FA3;
  }
}

