.edit-task {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
    color: var(--typography);
  }

  &__action-menu {
    flex-basis: content;
    flex-shrink: 0;
    width: 24px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
    margin-right: -12px;
    cursor: pointer;
  }

  &__body {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #828FA3;
  }
}
