@import "@styles/@variables";
@import "@styles/@mixins";

.accordion {
  position: relative;
  flex-shrink: 0;
}

.accordion__action-menu {
  width: 24px;
  margin-right: -12px;
  cursor: pointer;
}

.accordion__frame {
  position: absolute;
  top: 36px;
  right: 0;
  transform: translateX(50%);
  background: var(--option);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);

  opacity: 0;
  pointer-events: none;
  @include transition(opacity);

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__option {
    display: block;
    width: 100%;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: $medium-grey;

    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
