@import "../../../styles/@variables";
@import "../../../styles/@mixins";


.hidden-mobile-sidebar {
    transform: rotate(90deg);
    background: none;
    border: none;
    color: $main-purple;
    cursor: pointer;
}

.open-mobile-sideBar {
    transform: rotate(-90deg);
    background: none;
    border: none;
    color: $main-purple;
    cursor: pointer;
}