@import "../../../styles/@variables";
@import "../../../styles/@mixins";

.boardsList {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.boardsList__links {
  display: flex;
  flex-direction: column;
}

.boardsList__count {
  @include heading-s;
  color: var(--typography2);
  margin-bottom: 19px;
}

.boardsList__link {
  @include heading-m;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $medium-grey;
}

.boardsList__link-icon {
  background-image: url(../../../assets/images/desk.svg);
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.link-box {
  display: flex;

  align-items: center;
}

.link-box-wrapper_status_active {
  position: relative;
}

.link-box-wrapper_status_active::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -34px;
  background-color: $main-purple;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.link-box-wrapper_status_active .boardsList__link {
  position: relative;
  z-index: 2;
  color: white;
}

.link-box-wrapper_status_active .boardsList__link-icon {
  position: relative;
  z-index: 2;
  background-image: url(../../../assets/images/desk-white.svg);
}