@import "../../../styles/@variables";
@import "../../../styles/@mixins";

.boardsList {
  display: flex;
  flex-direction: column;
}

.boardsList__links {
  display: flex;
  flex-direction: column;
}

.boardsList__count {
  @include heading-s;
  color: var(--typography2);
  margin-bottom: 19px;
}

.boardsList__link {
  @include heading-m;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $medium-grey;
}

.boardsList__link-icon {
  background-image: url(../../../assets/images/desk.svg);
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.link-box {
  display: flex;

  align-items: center;
}
